<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group form-material">
                    <label> Buscar Hospital </label>
                    <input type="text" class="form-control form-control-line" value="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" align="center">
    <div class="card col-12">
        <div class="card-body">
            <h4 class="card-title">Usuarios registrados</h4>
            <h6 class="card-subtitle">Data table example</h6>
            <div class="col-sm-6">
                <button (click)="createHospital()" type="button" class="btn btn-primary">
                  <i class="fa fa-plus"></i>&nbsp;
                  Crear hospital
                </button>
            </div>
            <div class="table-responsive m-t-40">
                <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
                    <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 190px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 301px;">Nombre</th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 141px;"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospitales of hospitals" role="row" class="odd">
                                <td class="sorting_1">
                                    <img (click)="showModal(hospitales)" style="width: 40px;cursor: pointer" class="img-circle img-thumbnail" [src]="hospitales.img | image:'Hospital'">
                                </td>
                                <td>
                                    <div class="form-group form-material">
                                        <input type="text" [(ngModel)]="hospitales.nombre" class="form-control form-control-line" value="">
                                    </div>
                                </td>
                                <td>
                                    <button (click)="editHospital(hospitales)" class="btn btn-primary">
                                    <span class="fa fa-save"></span>
                                  </button>
                                    <button (click)="removeHospital(hospitales)" style="margin-left:5px" class="btn btn-danger">
                                     <span class="fa fa-trash-o"></span> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite">Total de usuarios registrados&nbsp;<strong>  </strong> </div>
                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                        <a class="paginate_button previous">Anterior</a>
                        <span>
                     </span>
                        <a class="paginate_button next">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>