<div class="col-md-12">
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progress+'%'" [attr.valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<br>
<div class="col-md-12">
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" [style.width]="progress2+'%'" [attr.valuenow]="progress2" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<hr>
<app-incrementor (valuesChange)="progress = $event"></app-incrementor>
<div class="row">
    <div class="col-sm-6">
        <app-incrementor (valuesChange)="progress2 = $event"></app-incrementor>
    </div>
</div>