<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Themes
                </h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #link0 (click)="getTheme('default', link0 )" data-themex="default" class="selector default-theme">1</a></li>
                        <li><a #link1 (click)="getTheme('green', link1 )" data-themex="green" class="selector green-theme">2</a></li>
                        <li><a #link2 (click)="getTheme('red', link2 )" data-themex="red" class="selector red-theme">3</a></li>
                        <li><a #link3 (click)="getTheme('blue', link3 )" data-themex="blue" class="selector blue-theme">4</a></li>
                        <li><a #link4 (click)="getTheme('purple', link4 )" data-themex="purple" class="selector purple-theme">5</a></li>
                        <li><a #link5 (click)="getTheme('megna', link5 )" data-themex="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #link6 (click)="getTheme('default-dark', link6 )" data-themex="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #link7 (click)="getTheme('green-dark', link7 )" data-themex="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #link8 (click)="getTheme('red-dark', link8 )" data-themex="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #link9 (click)="getTheme('blue-dark', link9 )" data-themex="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #link10 (click)="getTheme('purple-dark', link10 )" data-themex="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #link11 (click)="getTheme('megna-dark', link11 )" data-themex="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>