<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-donas [arrayGet]="graficos.grafico1" [doughnutChartData]="doughnutChartData" [doughnutChartLabels]="doughnutChartLabels" [doughnutChartType]="doughnutChartType"></app-donas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-donas [arrayGet]="graficos.grafico2" [doughnutChartData]="doughnutChartData" [doughnutChartLabels]="doughnutChartLabels" [doughnutChartType]="doughnutChartType"></app-donas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-donas [arrayGet]="graficos.grafico3" [doughnutChartData]="doughnutChartData" [doughnutChartLabels]="doughnutChartLabels" [doughnutChartType]="doughnutChartType"></app-donas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-donas [arrayGet]="graficos.grafico4" [doughnutChartData]="doughnutChartData" [doughnutChartLabels]="doughnutChartLabels" [doughnutChartType]="doughnutChartType"></app-donas>
            </div>
        </div>
    </div>
</div>